<div class="chat-header">
 <span class="header-title">記事一覧</span>
</div>

<div class="messages">
  <div class="section grid">
  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="images/マグカップ.jpeg" alt="サンプル画像です" class="image01">
    </div>
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>

  <a href="" class="grid-item">
    <div class="img-center">
      <img width="900" height="213" src="" class="image01">
    </div>
    <div class="grid-txt">
      <h2 class="grid-ttl">
        "アプリ作成中"
      </h2>
    </div>
    <span class="grid-date">2023.06.30</span>
    <span class="grid-sub grid-back">pick up</span>
  </a>
  </div>
</div>

<div class="form">
</div>