<div class="side-bar-header">
  <div class="header-name">
    <a href="#">Articles</a>
  </div>
</div>

<div class="rooms">
  <div class="create-room">
    <a href="#">新着A</a>
  </div>
  <div class="create-room">
    <a href="#">新着B</a>
  </div>
  <div class="create-room">
    <a href="#">新着C</a>
  </div>
  <div class="create-room">
    <a href="#">新着D</a>
  </div>
</div>  